<div class="cover-media"></div>
<div class="container d-flex">
  <div class="media-card">
    <div class="poster" style="background-image: url(<%= @media.poster %>);">
      <%= link_to bookmark_path(media:@media), method: :post, remote: true do %>
        <i class="fas fa-bookmark bookmark <%= "bookmark-active" if current_user.media_users.where(media: @media, bookmarked: true).empty? == false %>" style="position: relative; position: relative; left: 8px; bottom: 8px; z-index: 1000"></i>
      <% end %>
      <%= link_to watched_path(media:@media), method: :post, remote: true do %>
        <i class="fas fa-check watched <%= "watched-active" if current_user.media_users.where(media: @media, watched: true).empty? == false %>" style="position: relative; position: relative; left: 8px; bottom: 8px; z-index: 1000"></i>
      <% end %>
      <%= link_to excluded_path(media:@media), method: :post, remote: true do %>
        <i class="fas fa-ban excluded <%= "excluded-active" if current_user.media_users.where(media: @media, excluded: true).empty? == false %>" style="position: relative; position: relative; left: 8px; bottom: 8px; z-index: 1000"></i>
      <% end %>
    </div>
    <div class= "description">
      <div id="title">
        <h1><%= @media.title %></h1>
        <i id="close-btn" class="far fa-times-circle" onclick="history.go(-1)" style="color: black; font-size: 32px;"></i>
      </div>

      <div>
        <li id="plot" class="mb-4"><%= @media.plot %></li>
        <div id="lower-descr">
          <div>
            <li><%= @media.genre %></li>
            <li>Year: <%= @media.release_year %></li>
            <div class="d-flex align-items-center justify-content-start">
              <i id="imdb" class="fab fa-imdb"></i>
              <p><%= @media.ratings %>/10</p>
            </div>
          </div>
          <div class="streaming">
            <% if  %>
              <% @media.streaming_service == "netflix" %>
              <%= image_tag("netflix_logo.png", {:style => "width: 95px; border-radius: 5px;"}) %>
          </div>
        </div>
      </div>
      <a class="btn-gold btn-block" href="https://www.netflix.com/browse" target="blank">Watch</a>
            <% end %>
            <% if  %>
              <% @media.streaming_service == "amazon" %>
              <%= image_tag("amazon_logo.png", {:style => "width: 95px; border-radius: 5px; border: 1px solid black;"}) %>
          </div>
        </div>
      </div>
      <a class="btn-gold btn-block" href="https://www.amazon.co.uk/Amazon-Video/b/?ie=UTF8&node=3010085031&ref_=nav_cs_prime_video" target="blank">Watch</a>
            <% end %>
            <% if  %>
              <% @media.streaming_service == "disney_plus" %>
              <%= image_tag("disney_logo.jpg", {:style => "width: 95px; border-radius: 5px;"}) %>
          </div>
        </div>
      </div>
      <a class="btn-gold btn-block" href="https://www.disneyplus.com/eu/en-gb/home" target="blank">Watch</a>
            <% end %>
    </div>
  </div>
</div>

