<div class="container">
  <ul>
    <% @media_users.each do |item| %>
      <li><%= item.media_id %></li>
      <li><%= item.user_id %></li>
      <li><%= item.bookmarked %></li>
      <li><%= item.excluded %></li>
      <li><%= item.watched %></li>
    <% end %>
  </ul>
</div>