<% require 'time' %>

<% a = Time.now %>
<% b = Time.parse('2020-09-26 12:00:00 +0100') %>
<% c = (a - b) / 3600 %>
<% d = c / 24 %>
<div style="font-size: 50px; font-family: Arial; text-align: center;">
  <strong>Days to Demo Day:</strong> <%= (d*-1).to_f.ceil %>
</div>


<%= link_to "Test Reco Engine", result_path %>
<br>
<br>
<br>
<br>
<%= form_with url: search_page_get_path, local: true, method: :post do %>
  Search <%= text_field_tag :search_term %>
  <br>
  <%= check_box_tag(:netflix, "Netflix") %>
  <label for="netflix">Netflix</label>
  <%= check_box_tag(:amazon, "Amazon Prime Video") %>
  <label for="amazon">Amazon</label>
  <%= check_box_tag(:disney_plus, "Disney+") %>
  <label for="disney_plus">Disney Plus</label>
  <br>
  <%= submit_tag 'Go' %>
<% end %>
