<div class="container">
  <div class='m-3'>
    <h3 style="text-align: center">Your search returned the following results:</h3>
    <div class="search-again" style="text-align: center;">
      <%= link_to "Search again", root_path %>
    </div>
    <% @searchresults["results"].each do |item| %>
    <ul class="m-4">
      <div class="d-flex justify-content-between">
        <div class="description">
          <li style="list-style: none;"><span style= "font-weight: bold"><%= item["name"] %></span></li>
          <li style="list-style: none;">
          <div>
            <ul style="list-style: none;" class="streaming-services">
              <% item["locations"].each do |location| %>
                <li class="streaming-services"><a href="<%= location["url"] %>"><%= location["display_name"] %></a></li>
              <% end %>
            </ul>
          </div>
          </li>
        </div>
        <img src="https://images.unsplash.com/photo-1470790376778-a9fbc86d70e2?ixlib=rb-1.2.1&auto=format&fit=crop&w=649&q=80" width="200px" class="imdb-poster" id="<%= item["external_ids"]["imdb"]["id"] %>">
      </div>
      <hr>
    </ul>
    <% end %>
  </div>
</div>
