<% if @searchresults["results"].any? %>
  <div class="cover-search d-flex flex-column align-items-center justify-content-center">
    <h3 style="text-align: center">Here's what we found for <strong><%= params[:search_term] %></strong></h3>
    <div class="search-again" style="text-align: center;">
      <%= link_to "Search again", root_path %>
    </div>
  </div>
  <div class="container search-grid">
      <% @searchresults["results"].each do |item| %>
        <% if (item["locations"].map { |location| location["display_name"] } && [@netflix, @amazon, @disney]).any? %>
            <div class="card-trip">
            <h2 class="does-appear thumb"><i class="fas fa-thumbs-up"></i></h2>
            <img src="https://media.giphy.com/media/21TyGiKxxSpT6fpHIv/giphy.gif" width="200px" class="imdb-poster card-tripimage" id="<%= item["external_ids"]["imdb"]["id"] %>">
            <div class="card-trip-infos">
              <h2><%= item["name"] %></h2>
              <div class="streaming-links">
                <% item["locations"].each do |location| %>
                    <a class="" href="<%= location["url"] %>"><i class="fas fa-link"></i>  <%= location["display_name"] %></a>
                <% end %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="card-trip">
            <h2 class="does-not-appear thumb"><i class="fas fa-thumbs-down"></i></h2>
            <img src="https://media.giphy.com/media/21TyGiKxxSpT6fpHIv/giphy.gif" width="200px" class="imdb-poster card-tripimage" id="<%= item["external_ids"]["imdb"]["id"] %>">
            <div class="card-trip-infos">
              <h2><%= item["name"] %></h2>
              <div class="streaming-links">
                <% item["locations"].each do |location| %>
                    <a class="" href="<%= location["url"] %>"><i class="fas fa-link"></i>  <%= location["display_name"] %></a>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
<% else %>
  <div class="cover-search d-flex flex-column align-items-center justify-content-center">
    <h3 style="text-align: center">You searched for <strong><%= params[:search_term] %></strong> which returned no results</h3>
    <div class="search-again" style="text-align: center;">
      <%= link_to "Search again", root_path %>
    </div>
  </div>
<% end %>


